In [1]:
import pandas as pd

Importing data

In [2]:
data_1 = pd.read_csv("/home/kotarum/Documentos/Cosas/Labs/lab-customer-analysis-round-1/files_for_lab/csv_files/file1.csv")
data_2 = pd.read_csv("/home/kotarum/Documentos/Cosas/Labs/lab-customer-analysis-round-1/files_for_lab/csv_files/file2.csv")
data_3 = pd.read_csv("/home/kotarum/Documentos/Cosas/Labs/lab-customer-analysis-round-1/files_for_lab/csv_files/file3.csv")

In [3]:
print(data_1.shape)
print(data_2.shape)
print(data_3.shape)

(4008, 11)
(996, 11)
(7070, 11)

Renaming columns

In [4]:
data_1 = data_1.rename(columns={
    'ST':'State',
    'GENDER':'Gender'})

data_2 = data_2.rename(columns={
    'ST':'State',
    'GENDER':'Gender'})

data_3 = data_3.rename(columns={
    'ST':'State',
    'GENDER':'Gender'})

In [5]:
new_columns = data_1.columns
print(new_columns)

Index(['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [6]:
data_2 = data_2.reindex(columns=new_columns)
data_3 = data_3.reindex(columns=new_columns)

Concatenating the dataframes into one

In [7]:
df = pd.concat([data_1, data_2, data_3]).reset_index(drop=True)

Data types

In [8]:
for col in df.columns:
    print(col)
    print(df[col].dtype)
    print()

Customer
object

State
object

Gender
object

Education
object

Customer Lifetime Value
object

Income
float64

Monthly Premium Auto
float64

Number of Open Complaints
object

Policy Type
object

Vehicle Class
object

Total Claim Amount
float64

In [9]:
for col in df.columns:
    if df[col].dtype == object:
        print(col)
        print("Categorical")
        print()
    else:
        print(col)
        print("Numerical")
        print()

Customer
Categorical

State
Categorical

Gender
Categorical

Education
Categorical

Customer Lifetime Value
Categorical

Income
Numerical

Monthly Premium Auto
Numerical

Number of Open Complaints
Categorical

Policy Type
Categorical

Vehicle Class
Categorical

Total Claim Amount
Numerical

Data cleaning

Deleting columns Education and Number of Open Complaints

In [10]:
df = df.drop(["Education", "Number of Open Complaints"], axis=1)

Changing the type of column to float and multiply by 100

In [11]:
df["Customer Lifetime Value"] = df["Customer Lifetime Value"].str.replace('%', '').astype(float)

df["Customer Lifetime Value"]*100

0                NaN
1         69795359.0
2        128874317.0
3         76458618.0
4         53630765.0
            ...
12069            NaN
12070            NaN
12071            NaN
12072            NaN
12073            NaN
Name: Customer Lifetime Value, Length: 12074, dtype: float64

Customers with income 0 of less

In [12]:
df_income = df.loc[df["Income"] <= 0]